.selectedIcon:before {
    font-family: FontAwesome;
    /*content: "\f046";*/
}

.emptyIcon:before {
    font-family: FontAwesome;
    /*content: "\f096";*/
}

.basemapsIcon {
    font-family: FontAwesome;
    /*content: "\f009";*/
}