<div class="${baseClass}" role="presentation">
    <div class="GeocoderCon" data-dojo-attach-point="containerNode">
        <div class="custom">
            <div data-dojo-attach-point="searchNode" title="${i18n.title}" role="button" class="navItem zoomSearchButton fa fa-fw fa-search">
            </div>
            <div class="searchContainer" data-dojo-attach-point="searchContainerNode">
                <div data-dojo-attach-point="geocoderNode"></div>
            </div>
        </div>
    </div>
</div>
